.title {
  position: relative;
}
.title-input {
  width: 100% !important;
  border-radius: 10px;
  font-size: 35px;
  font-weight: 100;
}
.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  transition: 0.3s;
}
.title:hover .edit-icon {
  display: block;
}
.digit {
  width: 150px;
  height: 150px;
  border: 5px solid;
  border-radius: 100%;
  position: relative;
}
.digit h1 {
  line-height: 130px;
  text-align: center;
}
.digit span {
  position: absolute;
  bottom: -15px;
  right: -25px;
  font-size: 25px;
  margin: 0;
}
.laps {
  height: 200px;
  overflow-y: scroll;
  font-size: 25px;
}